---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tobi Oduwole">
  <main class="bg-[#f0f4f7] flex h-screen items-center justify-center">
    <div class="text-center px-2">
      <h1 class="text-2xl lg:text-5xl">🚧 Under Construction! 🚧</h1>
      <p class="text-lg lg:text-xl">
        Oops! It looks like we're hammering out a few details. The site will be
        back up soon, shinier than ever!
      </p>
    </div>
  </main>
</Layout>
